[Unit]
Description=PlanetLab Nodemanager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/nodemanager --config /etc/edgenet/nodemanager.conf
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
